@tailwind base;

@tailwind components;

/* ****************   SHARED   **************** */
.container {
}
/* ****************   HERO SECTION   **************** */
#hero-section.section-background {
  /* background-color: #FF8A4C; */
  height: 85vh;
}

#hero-section h1 {
  font-size: 4rem;
  font-family: 'Yellowtail', cursive;
  letter-spacing: 3.5px;
}
#hero-section p {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

@tailwind utilities;
